.columns-wrapper {
  display: flex;
  justify-content: flex-end; /* Pushes the .columns to the right half */
  flex-grow: 1;
}

.columns {
  width: 50%; /* Makes the .columns take the right half of the screen */
  font-size: large;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  border-bottom: 1px solid grey; /* Add a grey separator line */
  padding-bottom: 8px; /* Optional: add some padding for spacing */
}

.columns > div > div:last-child {
  border-bottom: none; /* Remove the border from the last child */
}

.columns > div > .columns-img-col {
  order: 0;
  padding-bottom: 8px; /* Optional: add some padding for spacing */
}

.columns > div {
  display: block;
  border-bottom: 1px solid grey; /* Add a grey separator line */
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    border-bottom: none; /* Remove the border for horizontal layout */
  }

  .columns > div > .columns-img-col img {
    border-bottom: none; /* Remove the border for horizontal layout */
  }
}
